li {
  --system-fonts: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  &:not(:has(> *:only-child)),
  &:not(:has(> *)) {
    &::marker {
      margin-right: 0.5em;
      font-size: 1.8rem;
      color: var(--color-dark-alpha);
      line-height: 2em;
      font-weight: 900;
      vertical-align: middle;
      transition: color ease 0.3s;
    }
    
    /* &:hover::marker {
      color: #000a;
      transform: scale(1.5);
    } */
  }

  &:has(> *:only-child),
  &:has(> *) {
    list-style-type: disc;
  }

  /* any list items with many children (not only one) */
  &:not(:has(> *))::marker {
    content: '• ' !important;
  }
}

ol > li {
  list-style-type: decimal;
}

li.expanded {
  position: relative;

  /* any list items with many children (not only one) */
  &:not(:has(> *:only-child)),
  &:not(:has(> *)) {
    &::marker {
      content: '▾ ';
      font-family: var(--system-fonts);
      font-size: 3rem;
    }

    &:hover::marker {
      color: var(--color-dark-alpha);
      transform: scale(1.5);
    }
  }
}

li.collapsed {
  /* any list items with many children (not only one) */
  &:not(:has(> *:only-child)),
  &:not(:has(> *)) {
    &::marker {
      content: '▸ ';
      font-family: var(--system-fonts);
      font-size: 3rem;
    }

    &:hover::marker {
      color: var(--color-dark-alpha);
      transform: scale(1.5);
    }
  }
  
  /* except for headings and links in the list items */
  & > :not(
    h1,h2,h3,h4,h5,h6, 
    a:only-child,
    p:only-child
    ) {
      display: none;
  }
}

/* for the list items that have a list as a child */
li.collapsed:has(ul),
li.expanded:has(ul) {
  background-color: transparent;
  transition: background-color 0.2s;
  position: relative;

  /* &::before {
    content: '';
    position: absolute;
    top: 1.5em;
    left: -2rem;
    width: 0.2rem;
    height: calc(100% + 1.3em);
    background-color: #ddd;
  } */

  /* &::after {
    top: -1rem;
    left: -2rem;
    content: '';
    position: absolute;
    display: block;
    width: calc(100% + 4rem);
    height: calc(100% + 2rem);
    border-radius: 0.5em;
    z-index: -1;
    padding: 1rem;
    box-sizing: content-box;
    opacity: 0.03;
    transition: background-color ease 0.2s;
  } */

  /* &::after {
    top: 1rem;
    left: -1.6rem;
    content: '';
    position: absolute;
    display: block;
    width: 1.5rem;
    // height: 1.55;
    aspect-ratio: 1;
    border-radius: 0.5em;
    z-index: -1;
    // padding: 1rem;
    box-sizing: content-box;
    // opacity: 0.03;
    transition: background-color ease 0.2s;
  } /*

  /*&:hover::after {
    background-color: rgba(0,0,0,0.7);
  } */
}

li.expanded, li.collapsed {
  p, strong, em, a {
    margin: 1rem 0;
  }

  .heading-anchor {
    pointer-events: none;
  }
}

nav#mainnav > ul > li {
  list-style-type: none !important;
}