.gradient-text {
  color: transparent;
  background-color: black;
  /* background-image:  */
    /* radial-gradient(black 50%, transparent 50%), */
    /* radial-gradient(transparent 60%, var(--color-light) 60%); */
  background-size: 2px 2px;
  padding: 0.6rem 0;
  background-clip: text;
}
