---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region gradient-text logo">
      <h1 class="text-center">
        {% include 'svg/so-meta.svg' %}
      </h1>
    </div>
  </div>
</header>

{# NOTE: temporal removing of the blog intro text
<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article> #}

<article class="region" style="--region-space-top: var(--space-s)">
  {# <div class="wrapper flow prose">
    <h2>{{ blog.title }}</h2>
    <!-- blog intro text is optional. -->
    {% if blog.intro %}
      <p>{{ blog.intro }}</p>
    {% endif %}
  </div> #}

  <!-- TODO: duplicate of partials/blog.njk -->
  <ul class="wrapper grid" role="list" data-rows="masonry" data-layout="50-50">
    {% for post in collections.posts.reverse() %}

      {% set post = post %} {% include "partials/blog-card.njk" %}

    {% endfor %}
  </ul>
</article>
