
<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper" role="banner">
  <div class="site-head | ontop spot-color-primary">
    {% set activePage = page.url | url %}
    <a href="/" class="logo site-head__brand | no-underline" {% if activePage === '/' %} aria-current="page" {% endif %}>
      {% include 'svg/meta.svg' %}
      <span class="site-name is-hidden">
        {% include 'svg/so-meta.svg' %}
      </span>
    </a>

    {% include "partials/menu.njk" %}
  </div>
</header>

<script>
  const siteName = document.querySelector('.logo.site-head__brand .site-name')
  const classList = siteName.classList
  window.addEventListener('scroll', () => {
    if (window.scrollY < 100) {
      !classList.contains("is-hidden") && classList.add('is-hidden')
    } else {
      classList.contains("is-hidden") && classList.remove('is-hidden')
    }
  })
</script>